@import "../../assets/fa/css/font-awesome.min.css";
@import "../../assets/normalize.css";

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  background-color: #dee;
  color: #555;
  line-height: 50vh;
  width: 50vw;
  margin: 25vh 25vw 25vh 25vw;
  vertical-align: center;
}